.label-custom {
  width: 20%;
}
input {
  width: 60%;
  padding: 15px;
  margin-bottom: 15px;
  border: 3px solid black;
}

input[type="text"]:focus {
  background-color: blueviolet;
  color: white;
}

input[type="text"] {
  background-color: aqua;
}

input[type="password"] {
  /* background-color: red; */
}

.outer-container {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  height: 600px;
  justify-content: center;
  align-items: center;
}

.inner-container {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  border: 2px solid black;
  display: flex;
  /* text-align: center; */
  /* justify-items: center; */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
